@model IEnumerable<ModelsDefault.Inventory>

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>


<table class="table">
    <thead style="background-color:#E6D8C6">
        <tr>
            <th>
                Item ID:
            </th>
            <th>
                Item Name:
            </th>
            <th>
                Quanity:
            </th>
            <th>
                Indiviual Price:
            </th>
            <th>
                Item Desciption:
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descr)
                </td>
                
                <td>
                    @Html.ActionLink("Restock", "restock", "Stores", item )
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <button class="btn-light"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></button>
</div>