@model ModelsDefault.User

@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome @Model.fname!</h1>

<div>
    <h4>User Info</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            First Name: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fname)
        </dd>
        <dt class = "col-sm-2">
            Last Name:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lname)
        </dd>
        <dt class = "col-sm-2">
            User ID:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            Recommended Store ID:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.storeId)
        </dd>
        <dt class = "col-sm-2">
            Authorization Level:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.auth)
        </dd>
        <dt class = "col-sm-2">
           Total Number Of Orders:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalOrders)
        </dd>
        <dt class = "col-sm-2">
           Total Amout Spent:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalSpent)
        </dd>
    </dl>
</div>
<div>
    <button class="btn-light">@Html.ActionLink("Check Previous Orders", "PrevOrder", "Menu", Model)</button>
    <button class="btn-light">@Html.ActionLink("Search For Users*", "Search", "Menu", Model)</button>
    <button class="btn-light">@Html.ActionLink("Manage Stores*", "Search", "Stores", Model)</button>
    <button class="btn-light">@Html.ActionLink("Search For Stores", "Search2", "Stores", Model)</button>
    <button class="btn-light">@Html.ActionLink("Start A New Order", "Search", "Order", Model)</button>
    <button class="btn-light"><a asp-area="" asp-controller="Home" asp-action="Index">Log Out</a></button>
</div>

<sub>* Features are locked away to only authorized users.</sub>